.menu-container {
  z-index: 20;
  position: absolute;
  left: 0%;
  display: flex;
  width: 100%;
  border: 1px solid #a67cff;
}

.menu-tab {
  flex: 1;
  /* width: 100%; */
  align-self: flex-start;
}
.menu-button {
  align-self: center;
}
.menu-title{
  font-size: 20px;
  color: white;
  align-self: center;
  text-align: left;
  transform:translateX(-50%);
  left: 50%;
  position: absolute;
}
.menu {
  height: 8vh;

}
