.menu-container {
  z-index: 20;
  position: absolute;
  left: 0%;
  display: flex;
  width: 100%;
  flex-direction: column;
  /* border-bottom: 1px solid #a67cff; */
}

.menu-tab {
  flex: 1;
  /* width: 100%; */
  align-self: flex-start;
}

.menu-title{
  font-size: 20px;
  /* color: white; */
  align-self: center;
  text-align: left;
  transform:translateX(-50%);
  left: 50%;
  position: absolute;
}

.menu-menu {
  height: 10vh;
  margin: 0!important;
  border-bottom: 1px solid black!important;
}

.tab-item:hover {
  background-color: #d7dde5!important;
}
.rangeslider__handle{
  outline: none;
}
.gain-slider {
  width: 100px;
  margin-bottom: 10%!important;

}
.flex {
  display: flex;
  flex-direction: column;
}
