.scale-container {
  border: 2px dashed gold;
  position: absolute;
  width: 5%;
  height: 90%;
  top: 10%;
  left: 0%;
  z-index: 21;
}

.scale-canvas {
  height: 100%;
  top: 0%;
}

.zoom-text {
  color: white;
  user-select: none;
}