.scale-container {
  border: 1px solid gold;
  position: absolute;
  width: 10%;
  height: 90%;
  top: 10%;
  left: 0%;
  z-index: 21;
  /* background-color: white; */
  border-radius: 1.5rem;
}

.scale-canvas {
  height: 100%;
  top: 0%;
}

.zoom-text {
  color: white;
  user-select: none;
}
