.menu-pane-container {
  z-index: 22;
}

.menu-pane {
  margin: 0!important;
}

.ui.toggle.checkbox input:focus:checked~label:before {
  background-color: #7CB342!important;
}

.ui.toggle.checkbox input:checked~label:before {
  background-color: #7CB342!important;
}

.vert {
  flex-direction: column;
}

.scales-checkbox {
  margin: 10px 0px 10px 0px;
}

.extra-margin {
  margin: 15px 0px!important;
}

.slider {
  width: 100px;
}

.adsr-slider {
  margin-right: 10px;
}

.horiz {
  display: flex;
  /* height: 100%; */
  margin-top: 2%;
  align-items: center;
}

.no-line::before {
  display: none;
}

.timbre-text {
  color: red;
  text-align: center;
}
.timbre-dropdown {
  margin-top: 8%!important;
}
.close-menu {
  width: 5%;
  float: right;
  background: none!important;
  padding: 0!important;
  margin-top: 2px!important;
}
.sound-toggle-container {
  margin: 4% 0;
  /* border: 2px solid red; */
  /* height: 100%; */
}

.adsr-canvas{
  position: relative!important;
  top:0%!important;
  /* height: 100%; */
  width: 275px;
  /* height: px; */
  /* border: 4px solid black; */

}
.adsr-container {
  background-color: #282828;
  border: 1px solid #282828;
  border-radius: 0.5em;
  margin-top: 2px;
}
