.menu-pane {
  padding: 0;
  margin: 0!important;
  border: 0!important;
  z-index: 21;
}

.ui.toggle.checkbox input:focus:checked~label:before {
  background-color: green!important;
}
.ui.toggle.checkbox input:checked~label:before {
  background-color: green!important;
}

.vert {
  flex-direction: column;
}

.scales-checkbox {
  margin: 10px 0px 10px 0px;
}
.extra-margin {
  margin: 15px 0px!important;
}
.slider {
  width: 100px;

}
.adsr-slider {
  margin-right: 10px;
}
.horiz {
  display: flex;
  height: 100%;
  align-items: center;
}

.no-line::before {
  display: none;
}

.timbre-text {
  color: red;
  text-align: center;
}
