
  .canvas-container {
  }
  .instructions {
    margin: 0 auto;
    /* padding-top: 100px; */
    /* width: 500px; */
    font-family: 'Inconsolata';
    font-size: 20px;
    z-index: 1;
  position: absolute;
  left: 50%;
  transform:translateX(-50%);
  top: 50%;


  }
  .flashing {
      animation: blinker 1.5s linear infinite;
  }
  .normal {

  }
  @keyframes blinker {
  50% {
    opacity: 0;
  }
}
