.menu-pane-container {
  padding: 0;
  margin: 0!important;
  border: 0!important;
}
.multi-slider-container {
  width: 200px;
  min-height: 125px;

}
.multi-slider {
  width: 80%!important;
  margin: 20px 10px;
  display: flex;
  padding: 0!important;
  /* height: 50px; */
  /* color: black!important; */
  /* background-color: black; */
}
.graph-limit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  padding: 5px!important;
}

.multi-slider * {
  height: 12px!important;
}
.rc-slider-handle {
  width: 24px!important;
  height: 24px!important;
}
.rc-slider {
  height: 0px!important;
}
.resolution-container {
display: flex;
justify-content: center;
align-items: center;
}
.resolution-input {
  width: 40%;
  margin: 0!important;
}
/* .resolution-input input {
  padding: .5em 1em;

} */

.close-menu {
  width: 5%;
  float: right;
  background: none!important;
  padding: 0!important;
  margin-top: 2px!important;
}

.graph-preset-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5px;
  grid-template-rows: 20px 20px 20px;
}
