
.controls-container {
  border: 2px solid red;
  width: 30vw;
  min-width: 400px;
  min-height: 100px;
  z-index: 10;
  max-height: 75vh;
  display: block;
  padding: 1em;
  background: rgba(255, 255, 255, 0.5);
  margin: 1em;
  border: rgba(0, 0, 0, 0.3);
  border-width: 1px;
  border-style: solid;
  font-family: 'Inconsolata', sans-serif;
  overflow-y: auto;
  resize: both;
  user-select: none;
  position: absolute;
  top: 1px;
}
h1 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
}
.config {
  font-size: 14px;
  margin-top: 0.5em;
}

.color-map {
  width: 100%;
  height: 20px;
  border: 2px solid gold;
  background: linear-gradient(to right, black 15%,blue 30%, green,red)
}
.color-map-labels {
  display: flex;
  justify-content: space-between;
}
.section-container {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  width: 100%;
  margin-top: 0.5em;
}
.section-title {
  align-self: center;
  margin-bottom: 0;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 2px;

}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 2px;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.advanced {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advanced-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.75;
}
#graph {
  background-color: #89b6ff;
}
#sound {
  background-color: #66ffcc;
  margin-top: 0!important;
}
.sound-button {
  padding: 0.75em;
  background-color: red;
  border-radius: 50%;
  border-width: 1px;
}
button:focus {
  outline: none;
}
input:focus {
  outline:none;
}
.green {
  background-color: green!important;
}
.timbre-image {
  height: 30px;
  width: 30px;
  padding: 0.25em;
  background-color: gray;
  border: 2px solid gray;
}
.timbre-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.img-span{
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}
.timbre-title{
  align-self: baseline;
  margin: 0;
  padding: 0;
}

.contain {
  display: flex;
  align-items: center;
  /*justify-content: space-around;*/
  margin: 0.25em;
}
.scale-choice {
  width: 25%;
}
.scale-container {
  display: flex;
  justify-content: flex-start;
  margin: 0.25em;

}
.scale-label {
  display: flex;
  font-size: 14px;
  align-items: center;
  align-self: baseline;

}
.selected {
  border: 2px solid blue;
}
.graph-scale {
  width: 40%;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#softSnap {

  -webkit-transform:rotate(-90deg);
     -moz-transform:rotate(-90deg);
       -o-transform:rotate(-90deg);
          transform:rotate(-90deg);
}
